.pads{
  padding-left: 2em;
}

.pads1{
  margin-left: 10em;
}
#root{
  display: none;
  background: linear-gradient(-45deg, rgb(10, 115, 141), rgb(82, 161, 138), rgb(4, 113, 177), rgb(9, 53, 73)) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  
}
#loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(192, 224, 245);
  position: absolute;
  
}
#loader>div{
  margin-top: 100px;
  height: 50px;
  width: 50px;
  border: 5px solid rgb(82, 78, 78);
  border-top-color: rgb(0, 0, 141);
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;

}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}


.specials{
  
  font-size: 1.2em;
  color: white;
  font-family: Lato, Hel, Arial, Helvetica, sans-serif;
}
.specials:hover{
  
  color:rgb(198, 201, 12);
}

#banner-text{
  color: rgb(255, 255, 255);
}

#hovering:hover{
  border: solid 5px rgb(198, 201, 12);
}
#Brand{
  font-size: 1.6em;
  opacity: 0.9;
}


.imgs{
  max-width: 30%;
}



#socials_area{
  position: relative;
  margin-top:50px;
}

.cards-styles{

  width: 300px;
  
}
@media screen and (max-width:350px) and (min-width:320px) {
  .cards-styles{width: 299px;
    justify-content:center;}
  .kit-place{
    justify-content: center;
  }
}
@media screen and (max-width:250px) and (min-width:100px) {
  .cards-styles{width: 200px;
    justify-content:center;}
  .kit-place{
    justify-content: center;
  }
}
@media screen and (min-width: 357px) and (max-width:368px){
  .cards-styles{
    width: 155px;
    
  }
}


@media screen and (min-width: 400px) and (max-width:770px){
  .inner-div{
    padding-left:1em;
    
  }
}

@media screen and (min-width: 420px) and (max-width:450px){
  .cards-styles{
    width: 180px;
    
  }
}
@media screen and (min-width: 450px) and (max-width:500px){
  .cards-styles{
    width: 190px;
    
  }
}

@media screen and (min-width: 369px) and (max-width:423px){
  .cards-styles{
    width: 160px;
    
  }
}
@media screen and (min-width: 351px) and (max-width:357px){
  .cards-styles{
    width: 150px;
    
  }
}

@media screen and (min-width: 250px) and (max-width:300px){
  .cards-styles{
    width: 250px;
    
  }
}

@media screen and (min-width: 500px) and (max-width:980px){
  .cards-styles{
    width: 150px;
    
  }
}
@media screen and (min-width: 980px) and (max-width:1200px){
  .cards-styles{
    width: 200px;
    
  }
}

@media screen and (min-width: 500px) and (max-width:537px){
  .cards-styles{
    width: 130px;
    
  }
}

@media screen and (min-width: 1900px) and (max-width:7000px){
  
  .cards-styles{
    width: 400px;
  }
  
}

@media screen and (min-width: 630px) and (max-width:5000px){
  
  .img_styles{
    width:8rem;
  }
}

@media screen and (min-width: 420px) and (max-width:630px){
  
  .img_styles{
    width:100px;
  }
}

@media screen and (min-width: 360px) and (max-width:420px){
  
  .img_styles{
    width:50px;
  }
}

@media screen and (min-width: 0px) and (max-width:360px){
  
  .img_styles{
    width:40px;
  }
}

.banners{
  opacity: 0.9;
}

body{
  background-color:linear-gradient(-45deg, rgb(10, 115, 141), rgb(82, 161, 138), rgb(4, 113, 177), rgb(9, 53, 73));
}


#latter{
  background-color: linear-gradient(-45deg, rgb(10, 115, 141), rgb(82, 161, 138), rgb(4, 113, 177), rgb(9, 53, 73));
}

.linkstomedias{
  width:5.5%;
  margin-left:1rem;
}



:root {
  --card-padding: 24px;
  --card-height: 340px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(circle 16px at center, white 99%, transparent 0);
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(white var(--desc-line-height), transparent 0);
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 265px;
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height))
}

#skel {
  width: 280px;
  height: var(--card-height)
}

#skel:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, .1);
  background-image: linear-gradient(rgba(211, 211, 211, .8) 50%, rgba(211, 211, 211, 0) 100%), var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton), var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-size: var(--blur-size), var(--title-width) var(--title-height), var(--desc-line-1-width) var(--desc-line-height), var(--desc-line-2-width) var(--desc-line-height), var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
  background-position: -150% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
  background-repeat: no-repeat;
  animation: loading 1.5s infinite
}

@keyframes loading {
  to {
      background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0
  }
}