.pads{
  padding-left: 2em;
}

.pads1{
  margin-left: 10em;
}
#root{
  display: none;
}
#loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(2, 0, 8);
  position: relative;
  
}
#loader>div{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border: 5px solid grey;
  border-top-color: blue;
  position: relative;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;

}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}