.pads{
  padding-left: 2em;
}

.pads1{
  margin-left: 10em;
}
#root{
  display: none;
  background-color: rgb(27, 26, 26);
}
#loader{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(65, 59, 59);
  position: relative;
  
}
#loader>div{
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border: 5px solid rgb(82, 78, 78);
  border-top-color: rgb(51, 51, 70);
  position: relative;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  animation: spin 1s infinite linear;

}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.specials:hover{
  text-decoration: none;
  color: rgb(56, 0, 0);
}

.glass_class{
  height: 20em;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(1200px);
  border: 2px solid transparent;
}
.card-styles{
  width:4em;
}